html, body {
    font-family: 'Inter Display', 'Inter', sans-serif;
    background: #000;
    color: #f5fbff;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1:focus {
    outline: none;
}

a {
    color: #0076dc;
}

#blazor-error-ui {
    background: #141414;
    color: #f5fbff;
    border-top: 0.5px solid #d03845;
    bottom: 0;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    color: #a1a1a1;
}

.blazor-error-boundary {
    background: #141414;
    border: 0.5px solid #d03845;
    padding: 1rem;
    color: #d03845;
    border-radius: 8px;
}

.blazor-error-boundary::after {
    content: "An error has occurred.";
}
