html, body {
    font-family: 'sohne-var', 'Söhne', system-ui, -apple-system, sans-serif;
    background: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1:focus {
    outline: none;
}

a {
    color: #533afd;
}

#blazor-error-ui {
    background: #ffffff;
    color: #000000;
    border-top: 1px solid #e5edf5;
    bottom: 0;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: rgba(23, 23, 23, 0.08) 0px 15px 35px 0px;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    color: #666666;
}

.blazor-error-boundary {
    background: #ffffff;
    border: 1px solid #e5edf5;
    padding: 1rem;
    color: #d03845;
    border-radius: 6px;
}

.blazor-error-boundary::after {
    content: "An error has occurred.";
}
