<header class="nav-header">
    <div class="nav-inner">
        <a class="nav-brand" href="">hum</a>
        <nav class="nav-links">
            <NavLink class="nav-link-item" href="" Match="NavLinkMatch.All">Identify</NavLink>
            <NavLink class="nav-link-item" href="ingest">Ingest</NavLink>
        </nav>
    </div>
</header>
